doctype html
html
    head
        title Random Emoji - #{emojiNameRaw}

        meta(property="title" content="Random Emoji - " + emojiNameRaw + " " + emojiName)
        meta(property="description" content="A random emoji, just for you!")

        meta(property="type" content="website")
        meta(property="url" content="http://random--emoji.herokuapp.com")
        meta(property="title" content="Random Emoji - " + emojiNameRaw + " " + emojiName)
        meta(property="description" content="A random emoji, just for you!")
        meta(property="image" content="http://random--emoji.herokuapp.com/" + emojiPath)

        meta(property="og:type" content="website")
        meta(property="og:url" content="http://random--emoji.herokuapp.com")
        meta(property="og:title" content="Random Emoji - " + emojiNameRaw + " " + emojiName)
        meta(property="og:description" content="A random emoji, just for you!")
        meta(property="og:image" content="http://random--emoji.herokuapp.com/" + emojiPath)
        
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:domain" value="a01e-73-128-105-225.ngrok.io")
        meta(name="twitter:title" value="Random Emoji - " + emojiNameRaw + " " + emojiName)
        meta(name="twitter:description" value="A random emoji, just for you!")
        meta(name="twitter:image" content="http://random--emoji.herokuapp.com/" + emojiPath)
        meta(name="twitter:url" value="http://random--emoji.herokuapp.com")

    body
        img(src=emojiPath)
        h1 #{emojiName}